* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  display: grid;
  place-items: center;
  background: url("./background-a089d87ba11e1a4c45a8efa960b86092.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
}
.summary {
  display: flex;
  align-items: center;
  gap: 1em;
  text-align: center;
  margin-top: 1em;
}
.cards {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 1em;
  text-align: center;
  margin-top: 1em;
}
.weather {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
input {
  padding: 1em;
  border-radius: 5px;
  border-style: none;
  width: 40vw;
  margin-top: 2em;
  outline: none;
}
.app {
  margin-top: 15vh;
}
header h1 {
  font-size: 4rem;
  color: whitesmoke;
}
